@implements IDisposable
@inject IUserHubConnection UserHub
@inject IJsInterop JsInterop
@inject IApiClient ApiClient
@inject IAppState AppState
@inject ILogger<Dashboard> Logger

<h3>Dashboard</h3>

<h4 class="mt-5">Service Devices</h4>
<div class="shadow-sm p-3 mt-3 rounded" style="overflow-x: auto">
    <table class="table table-striped table-responsive"  style="overflow: visible">
        <thead>
            <tr>
                <th>Online</th>
                <th>Actions</th>
                <th>Computer Name</th>
                <th>Alias</th>
                <th>Last Online</th>
                <th>Memory Used</th>
                <th>Total Memory</th>
                <th>Storage Used</th>
                <th>Total Storage</th>
                <th>Operating System</th>
                <th>CPU Architecture</th>
                <th>Processors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in _serviceDevices)
            {
                <tr>
                    <td align="center">
                        @if (device.IsOnline)
                        {
                            <span class="dot online" />
                        }
                        else
                        {
                            <span class="dot offline" />
                        }
                    </td>
                    <td>
                        @if (device.IsOnline)
                        {
                            <DropdownButton ButtonClass="btn-primary">
                                <ButtonContent>
                                    <i class="oi oi-bolt"></i>
                                    <span>Actions</span>
                                </ButtonContent>
                                <ChildListItems>
                                    <li>
                                        <button class="dropdown-item" @onclick="() => StartRemoteControl(device)">
                                            <i class="oi oi-laptop" title="Remote Control"></i>
                                            <span class="ml-2">Remote Control</span>
                                        </button>
                                    </li> 
                                </ChildListItems>
                            </DropdownButton>
                        }
                    </td>
                    <td>@(device.ComputerName)</td>
                    <td>@(device.Alias)</td>
                    <td>@(device.LastOnline)</td>
                    <td>@(GetFormattedPercent(device.UsedMemory, device.TotalMemory))</td>
                    <td>@(device.TotalMemory)GB</td>
                    <td>@(GetFormattedPercent(device.UsedStorage, device.TotalStorage))</td>
                    <td>@(device.TotalStorage)GB</td>
                    <td>@(device.OperatingSystem)</td>
                    <td>@(device.Architecture)</td>
                    <td>@(device.ProcessorCount)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h4 class="mt-5">Desktop Devices</h4>
<div class="shadow-sm p-3 mt-3 rounded" style="overflow-x: auto">
    <table class="table table-striped table-responsive" style="overflow: visible">
        <thead>
            <tr>
                <th>Online</th>
                <th>Actions</th>
                <th>Computer Name</th>
                <th>Alias</th>
                <th>Last Online</th>
                <th>Memory Used</th>
                <th>Total Memory</th>
                <th>Storage Used</th>
                <th>Total Storage</th>
                <th>Operating System</th>
                <th>CPU Architecture</th>
                <th>Processors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in _desktopDevices)
            {
                <tr>
                    <td align="center">
                        @if (device.IsOnline)
                        {
                            <span class="dot online" />
                        }
                        else
                        {
                            <span class="dot offline" />
                        }
                    </td>
                    <td>
                        @if (device.IsOnline)
                        {
                            <DropdownButton ButtonClass="btn-primary">
                                <ButtonContent>
                                    <i class="oi oi-bolt"></i>
                                    <span>Actions</span>
                                </ButtonContent>
                                <ChildListItems>
                                    <li>
                                        <button class="dropdown-item" @onclick="() => StartRemoteControl(device)">
                                            <i class="oi oi-laptop" title="Remote Control"></i>
                                            <span class="ml-2">Remote Control</span>
                                        </button>
                                    </li> 
                                </ChildListItems>
                            </DropdownButton>
                        }
                    </td>
                    <td>@(device.ComputerName)</td>
                    <td>@(device.Alias)</td>
                    <td>@(device.LastOnline)</td>
                    <td>@(GetFormattedPercent(device.UsedMemory, device.TotalMemory))</td>
                    <td>@(device.TotalMemory)GB</td>
                    <td>@(GetFormattedPercent(device.UsedStorage, device.TotalStorage))</td>
                    <td>@(device.TotalStorage)GB</td>
                    <td>@(device.OperatingSystem)</td>
                    <td>@(device.Architecture)</td>
                    <td>@(device.ProcessorCount)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private readonly ObservableCollection<DesktopDevice> _desktopDevices = new();
    private readonly ObservableCollection<ServiceDevice> _serviceDevices = new();

    #nullable disable
    [CascadingParameter]
    public LoadingSignal Loader { get; init; }

    [Inject]
    public IToastService Toasts { get; init; }
    #nullable enable

    public void Dispose()
    {
        UserHub.DesktopDeviceUpdated -= OnDesktopDeviceUpdated;
        UserHub.ServiceDeviceUpdated -= OnServiceDeviceUpdated;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        UserHub.DesktopDeviceUpdated += OnDesktopDeviceUpdated;
        UserHub.ServiceDeviceUpdated += OnServiceDeviceUpdated;

        using var _ = Loader.Show("Getting devices");

        try
        {
            var serviceResult = await ApiClient.GetServiceDevices();
            if (serviceResult.IsSuccess && serviceResult.Value is not null)
            {
                _serviceDevices.AddRange(serviceResult.Value);
            }

            var desktopResult = await ApiClient.GetDesktopDevices();
            if (desktopResult.IsSuccess && desktopResult.Value is not null)
            {
                _desktopDevices.AddRange(desktopResult.Value);
            }
        }
        catch(Exception ex)
        {
            Logger.LogError(ex, "Error while getting devices.");
        }
    }


    private string GetFormattedPercent(double used, double total)
    {
        return $"{Math.Round(used / total * 100)}%";
    }

    private async void OnDesktopDeviceUpdated(object? sender, DesktopDevice device)
    {
        if (_desktopDevices.TryFindIndex(x => x.SessionId == device.SessionId, out var index))
        {
            _desktopDevices[index] = device;
        }
        else
        {
            _desktopDevices.Add(device);
        }
        await InvokeAsync(StateHasChanged);
    }

    private async void OnServiceDeviceUpdated(object? sender, ServiceDevice device)
    {
        if (_serviceDevices.TryFindIndex(x => x.DeviceId == device.DeviceId, out var index))
        {
            _serviceDevices[index] = device;
        }
        else
        {
            _serviceDevices.Add(device);
        }
        await InvokeAsync(StateHasChanged);
    }

    private async Task StartRemoteControl(ServiceDevice device)
    {
        using var _ = Loader.Show("Sending request");
        var requestId = Guid.NewGuid();
        await UserHub.RequestDesktopStream(device.DeviceId, requestId);
        await Task.Delay(3000);
    }

    private async Task StartRemoteControl(DesktopDevice device)
    {
        using var _ = Loader.Show("Sending request");
        await Task.Delay(3000);
    }

}
